#snow-wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  filter: drop-shadow(0 0 10px white);
  overflow: hidden;
  opacity: 0.25;
  pointer-events: none;
}
.snow {
  background-image: url(/snow-medium.svg);
  background-repeat: repeat;
  background-size: 1000px;
  animation: snow 100s linear infinite;
  position: absolute;
  inset: 0;
}
#snow {
  position: fixed;
  inset: 0;
  z-index: -1000;
  mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}
@keyframes snow {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: 1000px 3000px;
  }
}
